### model
model_name_or_path: /media/public/models/huggingface/Qwen/Qwen2.5-7B-Instruct
template: qwen
trust_remote_code: true

### method
stage: sft
do_train: true
finetuning_type: full

### dataset
dataset: toucan
cutoff_len: 2048
max_samples: 1
train_on_prompt: false
mask_history: false
overwrite_cache: true
debug_template: true
preprocessing_num_workers: 1
dataloader_num_workers: 0

### output
output_dir: ./output/debug_template
logging_steps: 1
save_steps: 500
overwrite_output_dir: true
report_to: none

### train
per_device_train_batch_size: 1
gradient_accumulation_steps: 1
learning_rate: 5.0e-5
num_train_epochs: 1
max_steps: 1
lr_scheduler_type: cosine
bf16: true
ddp_timeout: 180000000

